/*========================
	GALLERY
=========================*/
#gallery {
	color :orange;
	font-family :assistant;
	font-style :italic;
	font-size : 48px;
	font-weight : 600;
	margin-bottom : 20px;
}

#gallery {
	font-weight : 700;
	font-size : 62px;

	background-color : #e8e8e8;
}


#gallery h2{
	padding : 30px;
	margin-top : 20px;
	text-align :center ;
}
#gallery img {
	height : 320px !important;
	max-width : 444px !important;
}
#gallery .reduce {
	display :flex;
	justify-content :space-around;
	margin-bottom : 20px;
}
.material-icons {
		font-size : 61px !important;
}

.ekko-lightbox a span {
	color : orange;
	font-weight : 800;
	font-size : 65px;
}
.reduce img{
	transition : all 0.8s ease;
}
.reduce img:hover{
	transform :scale(1.1);
}
/*========================
	HERO SECTION
=========================*/
#hero {
	height : 70vh;
	width : 100%;
}
/*========================
	MAP_ADRESS
=========================*/
#map {
	width : 100%;
	height : 65vh;
}
#map iframe {
	width: 100%;
}
#adress{
	padding: 3% 0% 2% 0%;
	margin-bottom:8px;
	background-color : black;
}
#adress .adress,
#adress form{
	align-items :center;
	text-align :center;
	font-weight : 800 !important;
	font-size : 24px;
}
#adress .adress {
	 display :flex;
	 justify-content : center;
	 flex-direction : column;
	 color : white;
	 margin-bottom:8px;
}
#adress form {
	background-color :white;
	color : #E9A7A7;
	padding : 2%;
	text-transform :uppercase;
	margin-bottom:8px;
}
#adress form input , textarea {
	text-align :center;
}
#adress form button,
#adress .adress button{
	width : 160px;
	height : 50px;
	margin : 10px;
	transition : all 0.5s ease-in-out;
}
#adress .adress button {
	  background-color :black;
	  color :white;
}
#adress form button {
	  background-color :#E9A7A7;
	  color :white;
}

/*========================
	TESTIMONIAL CAROUSEL
=========================*/
#testo-caro {
	width : 100%;
	min-height: 320px;
	border-left : 5px solid black;
}
#testo-caro .carousel-item aside {
	display : flex !important;
}
#testo-caro .pic-art {
	padding-left : 2%;
	flex-direction : column !important;
	align-items : flex-start!important;
}
#testo-caro .carousel-indicators {
	background-color: black;
}
#testo-caro .carousel-inner {
	border : 5px solid #E9A7A7;
	width : 100%;
	height : 100%;
}
#testo-caro .carousel-indicators li {
	background-color : #E9A7A7 !important;
	width : 30px !important;
	height : 30px !important;
	border-radius : 50%;
}
#testo-caro img {
	width : 50%;
}
#testo-caro .carousel-control-next-icon,#testo-caro .carousel-control-prev-icon {
	width : 15px !important;
	height : 15px !important;
}




/*================================================
					INTER SECTION
==================================================*/
.int-serv article .row {
	margin-bottom : 5px !important;
}
.int-serv article aside {
	padding-top : 10px;
}
.int-serv article aside h2 {
	margin : 8px;
}
.divider {
	display : none;
	height : 280px;
	width : 80%;
	margin: -250px auto 0px auto;
	border : 5px solid purple;
}



h2 {
	font-size : 3rem;
}
#services .serviceh1 {
	font-size : 48px;
	margin : 20px 0px;
	padding-bottom : 30px;
	font-weight : 700;
	font-style : italic;
}
#contact-first h2 {
	text-align :center;
}
#services h2 {
	font-size : 32px;
	color : white;
	font-weight : 800;
}
#pricings h5 {
	color : white;
	font-weight : 700;
}
#pricings h2 {
	color : #E9A7A7;
	font-style : italic;
	font-weight : 700;
}
#firstineter  {
	padding-bottom : 2%;
	margin-bottom : 10px;
	text-align :center;
	font-size: 115%;
    font-weight: 700;
}
#firstineter .open {
	background-color : #E9A7A7;
	margin-bottom : 10px;
	padding :1%;
	width : 80%;
	margin : 5px auto;
}
#firstineter .button button {
	margin : 5px;
	transition : all 0.5s ease-in-out;
}
#firstineter aside h4{
	color : #E9A7A7;
	font-weight : 600;
	font-size : 32px;
	font-family: "Assistant";
	margin-top : 25px;
}
#firstineter img {
	width : 98%;
}
#pricings article p {
	font-weight : 700;
}

#product article p {
	height: 28px;
}
/*========================
	FOOTER
=========================*/
footer {
	background-color : #E9A7A7;
}
footer  p {
	background-color : black;
	min-height : 10vh;
	line-height : 8vh;
	color : white;
	font-size : 18px;
	letter-spacing : 1.5px;
	font-style : italic;
	text-align : center;
}
#quick-links {
	text-align :center;
	padding : 2% 2% 1% 2%;
}
#quick-links aside {
	flex-direction : column;
}
#quick-links aside a {
	margin : 5px;
}
#quick-links article ul{
	list-style : none;
	height : 38vh;
	width : 80%;
	display :flex;
	justify-content : center;
	transform: translate(22px, 6px);
	flex-direction : column !important;
}
#quick-links article ul li{
	width : 100%;
	display :flex;
	margin : 5px;
}
#quick-links article a{
	margin : auto;
}
#quick-links a button{
	background-color : black;
	color : white;
	width : 180px;
	height : 46px;
	border : 3px solid #E9A7A7;
	transition : all 0.5s ease-in-out;
}
#quick-links aside a img {
	width : 35px;
	height : 35px;
	background-color : black;
}

/*========================
	MODAL
=========================*/

#notice-modal .modal-content, #mail-modal .modal-content {
    border: 10px solid #E9A7A7;
    padding: 0.5%;
}

#notice-modal .modal-header, #mail-modal .modal-header {
    display: flex;
    flex-direction: column;
    height: 18vh;
	color : white;
    background-color: black;
}

#notice-modal .modal-body, #mail-modal .modal-body {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

#notice-modal .modal-footer, #mail-modal .modal-footer {
    background-color: black;
}
.modal-open .modal {
	background-color: #e9a7a7b3;
}
.modal-body form input,
.modal-body form textarea {
	border : 7px solid #E9A7A7 !important;
}
.modal-body form input {
	min-height : 48px;
}
.modal-header .close,
.modal-footer button {
	width : 100px;
	height : 40px ;
	line-height : 0px;
	text-align :center;
	color : white;
	font-weight : 900!important;
	border : 3px solid red;
}
.modal-header .close {
	position : absolute ;
	top : 30px;
	right : 30px;
	color : black !important;
	background-color : white !important;
}
.modal form button {
	width : 180px;
	height : 40px;
	border-radius : 8px;
	text-align :center;
}
.modal-header .close,
.modal form button,
.modal-footer button {
	transition : all 0.6s ease-in-out;
	outline : none;
}
#function-modal .modal-body {
    background: #c44258;
    color: white;
    text-align: center;
		font-weight: 600;
		font-family: sans-serif;
}
#function-modal .modal-content {
	background-color: black !important;
}
/*========================
	HOVER ACTIVE FOCUS
=========================*/

#adress form button:hover {
	background-color : black !important;
	color :white !important;
	font-weight : 500!important;
	border : 3px solid #dd3c15 !important;
	transition : all 0.78s ease-in-out !important;
}

#adress .adress .btn:hover {
	background-color : white !important;
	color :#dd3c15 !important;
	font-weight : 500!important;
	border : 3px solid black !important;
	transition : all 0.78s ease-in-out !important;
}
#quick-links a button:hover {
	background-color : white !important;
	color :#dd3c15 !important;
	font-weight : 500!important;
	border : 3px solid black !important;
}



/*========================
	MEDIA QUERY
=========================*/
@media(max-width : 990px){
	.int-serv article .lamination {
    transform: translate(360px, -282px);
	}
	.int-serv article .printing {
		transform: translate(0px, -280px);
	}
	.divider {
		display : block;
	}
	#firstineter .welcome h2{
		    font-size: 2rem;
	}
}

@media(max-width : 991px){
	.navbar-nav {align-items : center !important}
	#firstCont aside .opens {
		width : 516px;
		transform: translateX(-201px);
	}
}
@media(max-width : 763px){
	.int-serv article .lamination {
    transform: translate(0px, 0px);
	}
	.int-serv article .printing {
		transform: translate(0px, 0px);
	}
	.divider {
		display : none;
	}
	#firstineter .welcome h2{
		    font-size: 3rem;
	}
	#firstineter .open {
		flex-direction :column;
		text-align : center;
	}
	#firstCont aside .opens {
    width: max-content;
    transform: translateX(118px);
    text-align: center;
	}
	#firstCont aside .opens div:nth-child(1) {
    text-align: center;
    align-items: center;
	}
	#testimonial aside {
		margin-bottom: 30px;
	}
}
@media(max-width : 730px){
	#firstCont article img {
		width : 60%;
	}
	#firstCont aside .opens {
		height : auto;
		text-align :center;
		transform : translate(0px,0px);
	}
	#firstCont aside div div:nth-child(1) {
		align-items : center;
		color : black;
	}

}
@media(max-width : 540px){
    #quick-links article ul {transform: translate(40px, 6px); }
	footer p { line-height : 30px;}
	#pricings article {width : 100%;}
	#firstCont aside .opens {
		max-width: auto;
		margin: 0px auto;
		align-items: flex-start;
		text-align: left;
	}
}
@media(max-width : 465px){
    #quick-links article ul {
			transform: translate(30px, 0px);
		}
		header .contacts .contHOld {
			text-align: center;
		}
		header .contacts {
			flex-direction: column;
			align-items: center;
			width: 100%;
			padding-top : 2%;
		}
		.socialie-icon {
			position: inherit;
		}
		header .contacts .contHOld p:nth-child(1){
				display : none;
		}
		#carouselControls .carousel-item .wrapper h1 {
			font-size: 66px;
		}
}
@media(max-width : 335px){
    #quick-links article ul {transform: translate(0px, 0px); }
		#carouselControls .carousel-item .wrapper h1 {
			font-size: 45px;
		}
		#carouselControls .carousel-control-next,
		#carouselControls .carousel-control-prev {
	    width: 63px !important;
	    height: 55px !important;
		}
}

@media(max-width : 450px){
	#firstCont article img {
		width : 100%;
	}
	#firstCont aside .opens {
    height: auto;
    margin: 0px auto;
    text-align: center;
    transform: translate(0px,0px);
    text-align: left;
    width: auto;
	}
	#firstCont h2,
	#firstCont h4 {
		font-size :200% !important;
	}
	#firstCont aside .button {
		flex-direction :column !important;
	}
	#firstCont aside .opens div:nth-child(1) {
    padding-left: 12%;
    align-items: flex-start;
	}
}


.navbar-light .navbar-toggler {
	width : 50px !important;
	height : 50px !important;
	margin : 5px 13px;
}
