
/*  ==================BASICS ====================== */
.m {
	font-weight : 800;
	color : red;
}
.d {
	font-weight : 800;
	color : blue;
}
.centerfy {
	display :flex;
	justify-content : center;
	align-items : center;
}
/* ===============  portfolio    ======================== */

.portfolio .port-cont {
  overflow: hidden;
}
.portfolio .port-cont img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  width: 100%;
}
.portfolio .port-cont img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  cursor: zoom-in;
}
/* ===============  Header    ======================== */
header {
	 background-color :black;
	 color :white;
	border-bottom : 15px solid black;
	 position :relative;
 }
 header .contacts {
	 display :flex;
	 color :red;
	min-height : 45px;
 }

 main {
	 padding : 0px;
	 margin : 0px ;
	 box-sizing : border-box;
 }
 .socialie-icon {
	 height : 100%;
	 padding-bottom : 10px;
	 margin : 5px;
	 position : absolute;
	 right : 20px;
 }
.socialie-icon img {
	 width : 30px;
	 height : 30px;
	 margin-right : 3px;
	 border : 1px solid red;
	 cursor : pointer;
 }
  a:hover {
	 background-color :black !important;
	 color :red !important;
	 border-radius : 8px ;
	transition : 0.6s;
	cursor : pointer !important;
 }
.navbar {
	background-color : #9a0000 !important ;
 }
nav ul li {
	width : 180px;
	height : 50px;
	display :flex;
}
nav ul li a{
	width : 100%;
	height : 100%;
	transition :all 0.3s ease-in;
	margin : auto;
	cursor : pointer !important;
}
.navbar-toggler-icon {
	 background-color : #d6c2c2 !important;
	margin :2px !important;
 }
 .navbar-toggler {
	  margin-bottom : 5px !important;
 }
  form button {
	 border:2px solid black !important;
	 color :black !important;
	 font-weight : 700 !important;
  }
 form button:hover {
	  background-color :black !important;
	 color :red !important;
	 border-radius : 8px ;
	transition : 0.6s;
	border : none;
 }
 ul li a {
	 color : black !important ;
	 text-align : center;
	  color :white !important;
	  font-weight : 700;
 }

 .at-page {
	 background-color :black !important;
	 color :red !important;
	 border-radius : 8px ;
	 transition :5s;
 }
.openn {
	background-color : black;
	width : 50px;
	height : 50px;
	border : 2px solid red!important;
	display :flex;
}
.openn-icon {
	background-color :#fffe00 ;
	margin :auto;
}
 .activeH  {
	 background-color :black !important;
	 color :red !important;
	 border-radius : 8px ;
	transition : 0.6s;
	margin : 2px;
}
.remove-events {
	pointer-events: none !important;
}
.contact-icon {
	width : 75px;
	height : 75px;
	margin : 0px auto;
}
.navbar-brand img {
	background-color : blak;
	width : 140px;
	height : 60px;
	border : 3px solid black;
}
#carouselControls .carousel-control-next, #carouselControls .carousel-control-prev {
	width:100px !important;
	height:80px !important;
	background-color : red;
	top : 50%;
	transform : translateY(-50%)
}
#carouselControls .carousel-control-next, .carousel-control-prev {
	width:100px !important;
	height:80px !important;
	top : 50%;
	transform : translateY(-50%)
}
/* ============================= COLOURS ================================== */
.clr1 {
	background-color  :#E9A7A7 !important;
	color : black;
}
.secCol {

}
.terCol {

}

 /*============================= SILDING SECTION / CAROUSEL --------- */

#carouselControls .carousel-inner {
	height :95vh !important;
	border-bottom : 20px solid black;

}
#carouselControls .slide-Item1 {
	background : url("../images/header-background-1.jpg") no-repeat;
	background-size : cover;
	background-position : center center;
 }
#carouselControls .slide-Item2 {
	background : url("../images/gallery/jewellery.png") no-repeat;
	background-size : cover;
	background-position : center center;
 }
#carouselControls .slide-Item3 {
	background : url("../images/gallery/ink.jpg") no-repeat;
	background-size : cover;
	background-position : center center;
}
.slide-Item1 ,.slide-Item2 , .slide-Item3{
	 height : 100% ;
	filter : brightness(75%);
}
#carouselControls .wrapper {
	width : 100%;
	height : 100%;
}
/* ==============================================================================
																	BUTTONS
 ============================================================================== */
 button {
	width : 160px;
	height : 40px;
	border-radius : 8px;
	outline : none;
 }
 .button button{
	border: none;
	color :white;
	margin-top : 20px;
	transition : all 0.4s ease-in;
 }
 .button button:nth-child(1){
	background-color : #E9A7A7;
 }
 .button button:nth-child(2){
	background-color : black;
 }
/* ==============================================================================
													ELEMNT TAGS AND HEADDINGS
 ============================================================================== */

h2 {
	font-size : 3rem;
}
#services .serviceh1 {
	font-size : 48px;
	margin : 20px 0px;
	padding-bottom : 30px;
	font-weight : 700;
	font-style : italic;
}
#contact-first h2 {
	text-align :center;
}
#services h2 {
	font-size : 32px;
	color : white;
	font-weight : 800;
}
#pricings h5 {
	color : white;
	font-weight : 700;
}
#pricings h2 {
	color : #E9A7A7;
	font-style : italic;
	font-weight : 700;
}
#firstCont aside h3 {
	font-weight : 700;
	letter-spacing : 1.2px;
}
#firstCont aside .column h4{
	color : #E9A7A7;
	font-weight : 600;
	font-size : 32px;
	font-family: "Assistant";
	margin-top : 25px;
}
#pricings article p {
	font-weight : 700;
}

#product article p {
	height: 28px;
}
/* ==============================================================================
													FLEXING SECTION MANUALLY
 ============================================================================== */
#firstCont aside div div:nth-child(1),#services aside,
#pricings article, #testimonial .form-div {
	display :flex;
	align-items :center;
	justify-content :center;
}

 /* ================== SECTIONS BY IDs ========================== */

#contact-first {
	background-color : grey;
}
#services {
	background-color : #eaeaea;
	text-align :center;
	min-height : 85vh;
	padding-top : 30px;
	padding-bottom : 30px;
}
#testimonial {
	min-height : 70vh;
	padding: 35px 0px;

}
#pricings {
	min-height : 80vh;
	background : url("../images/pricing-bg.jpg") no-repeat;
	background-size : cover;
	background-position : center;
	width : 100%;
	text-align :center;

}
#product {
		text-align :center;
}


#carouselControls .carousel-item .wrapper  {
	width: 100%;
	height: 100%;
	display: flex;
}
#carouselControls .carousel-item .wrapper .content {
	height: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
#carouselControls .carousel-item .wrapper h1 {
    color: white;
    font-size: 92px;
    font-family: Assistant;
    font-style: italic;
    box-shadow: 10px 20px 12px 1px #00000073;
    background-color: #00000017;
    padding: 3% 0%;
		text-align: center;
}
.read {
    width: 180px;
    border-radius: 12px;
    height: 52px;
    outline: none;
    background-color: #f3133ca3;
    color: white;
    font-weight: 700;
    border: none;
    transition: all 0.5s ease;
}
/* ==============================================================================
						4										SUB SECTIONS
 ============================================================================== */
#firstCont aside {
	font-size : 115%;
	font-weight :700;
	letter-spacing :1.5px;
	transform : translateY(-80px);
}
#firstCont aside .column,#firstCont aside .button {
	padding-left : 60px;
}
#firstCont aside .column,#firstCont aside .button button{
	margin: 8px;
}
#firstCont aside .opens{
	background-color : #E9A7A7;
	color :white;
	min-height: 253px;
	transform : translateX(-100px);
}

#firstCont aside div div:nth-child(1) {
	flex-direction :column;
	align-items :flex-start;
}

.opening-hours li{
	list-style : none;
	font-size : 20px;
}
#services aside{
	flex-direction : column;
	justify-content : space-around;
	font-family :Sans-serif;
	font-style : italic;
	letter-spacing : 1.3px;
}

#testimonial label , #testimonial input{
	width : 50% !important;
	margin-bottom : 8px;
	margin-left : 8px;
}
#testimonial label{
	border : 3px solid #f7f7f7;
	padding : 1%;
}
#testimonial textarea, #testimonial button{
	margin-bottom : 8px;
	margin-left : 8px;
}
#testimonial .client-h3 {
    margin: 20px;
    font-family: Assistant;
    font-style: italic;
    font-size: 34px;
}
#services .pink{
	background-color : #E9A7A7;
	color : white;
}
#services .black{
	background-color : black;
	color : #E9A7A7;
}
#pricings article {
	width : 62%;
	min-height : 300px;
	margin : 10px auto;
	background-color : #ffffffcc;
	flex-direction : column;
	box-shadow : 20px 32px 34px 3px black;
}
#product article {
	background-color :  #E9A7A7;
}
.products-list {
	display : flex;
	width : 100%;
}


.products-list aside {
	background-color : #eaeaea;
	width : 25%;
	margin : 2.5px;
}

.form-control {
	border-color : #afafaf !important;
}
/* =4=============================================================================
													ANCHHORS
 ============================================================================== */
#testimonial button{
	background-color : #E9A7A7;
	color :white !important;
}
/* =4=============================================================================
													IMAGES
 ============================================================================== */
#firstCont article img {
	max-width: 450;
    max-height: 530px;
}
#services .pink img{
	border-bottom : 12px double black;
}
#services .black img{
	border-bottom : 12px double #E9A7A7;
}
#product .thmb {
	width : 100px;
}
#product article p img{
	width : 50px;
	background : transparent;
}
/* ==============================================================================
													SPANS
 ============================================================================== */
.makeBla {
	color :black;
	font-weight : 800;
}
.makepin {
	font-weight : 800;
	color : #E9A7A7;
}

/* ==============================================================================
												ACTIVE  HOVER  FOCUS
 ============================================================================== */
.button button:nth-child(1):hover{
	background-color : black;
	letter-spacing :1.3px;
	border-right : 3px solid #E9A7A7;
}
.button button:nth-child(2):hover{
	background-color : #E9A7A7;
	letter-spacing :1.3px;
	border-left : 3px solid black;
 }

.read:hover {
	letter-spacing: 2px;
	background-color: black;
	color :white;
	font-weight: 800;
}

.form-control:focus {
	border-color : #E9A7A7 !important;
	box-shadow :0 0 0 0.2rem #80808003 !important;
}
